<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/tickets">Tickets</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/over">Over</a></li>
    </ul>
</nav>