<%- include('partials/head') %>

<div class="banner">
    <h1>Beschikbare tickets</h1>
</div>
<main>


<nav id="bottomnav">
    <a href="/tours" class="button"> Volgende</a>
</nav>

<script src="/js/test.js"></script>

<%- include('partials/footer') %>