<%- include('partials/head') %>

<div class="banner">
    <h1>Test date picker</h1>
</div>
<main>
 <h2>gekozen dag is: <span id="chosenDay"></span><span id="chosenMonth"></span>  </h2>

 <label for="month">Kies een maand</label>

 <select name="month" id="month">
   <option value="januari">januari</option>
   <option value="februari">februari</option>
   <option value="maart">maart</option>
   <option value="april">april</option>
 </select> 

 <label for="week">Kies een week</label>

<select name="week" id="week">
  <option value="week1">1</option>
  <option value="week2">2</option>
  <option value="week3">3</option>
  <option value="week4">4</option>
</select> 


<label for="day">Kies een dag</label>
<select id="day"></select>

<label for="timerange">In de ochtend of de middag?</label>
<select name="timerange" id="timerange">
  <option value="ochtend">Ochtend</option>
  <option value="middag">Middag</option>
</select> 


 
<script src="js/ticket2.js"> </script>
</main>
<%- include('partials/footer') %>