<%- include('partials/head') %>
  <h1>Belangrijke events</h1>
  <main>
    <h2> Klik op een activiteit voor details </h2>
    <article>
        <a href="details">16 tot en met 17 april , activiteit is trainen in Anadia.</a>
        <a href="details">23 tot en met 8 augustus 2021 , activiteit is Olympische Spelen in Tokio.</loc></a>
    </article>
  </main>

  <%- include('partials/footer') %>