<%- include('partials/head') %>


<div class="banner">
    <h1>Welke dag is je bezoek?</h1>
</div>

<main>
    <section class="dates">
        <article class="date">
            <h2>25</h2>
            <div class="dateContent">
                <ul>
                    <li>
                        Beschikbare activiteiten
                    </li>
                    <li>
                        <p>Regulieren toegang</p>
                    </li>
                    <li>
                        <p>Audio tour</p>
                    </li>
                </ul>
            </div>
            <a href="/" class="button"> Bevestig</a>
        </article>
        <article>
            <h2>26</h2>
            <div class="dateContent">
                <ul>
                    <li>
                        Beschikbare activiteiten
                    </li>
                    <li>
                        <p>Regulieren toegang</p>
                    </li>
                    <li>
                        <p>Audio tour</p>
                    </li>
                </ul>
            </div>
            <a href="/" class="button"> Bevestig</a>
        </article>
        <article>
            <h2>27</h2>
            <div class="dateContent">
                <ul>
                    <li>
                        Beschikbare activiteiten
                    </li>
                    <li>
                        <p>Regulieren toegang</p>
                    </li>
                    <li>
                        <p>Audio tour</p>
                    </li>
                </ul>
            </div>
            <a href="/" class="button"> Bevestig</a>
        </article>
    </section>
</main>


<%- include('partials/footer') %>