<%- include('partials/head') %>


<div class="banner">
    <h1>Extras</h1>
</div>

<main id="mainextra">
<fieldset class="extras">
<input type="radio" id="firstTicketOption" name="ticketOption" checked>
<label for="firstTicketOption">
    <h3>Entree museum</h3>
    <p>Dagelijks van 9 tot 17 uur</p>
</label>
<input type="radio" id="secondTicketOption" name="ticketOption">
<label for="secondTicketOption">
    <h3>Entree museum + tour hoogtepunten</h3>
    <p>Dagelijks van 9 tot 17 uur</p>
</label>
<input type="radio" id="thirdTicketOption" name="ticketOption">
<label for="thirdTicketOption">
    <h3>Entree museum + privétour hoogtepunten</h3>
    <p>Dagelijks van 9 tot 17 uur</p>
</label>
<input type="radio" id="fourthTicketOption" name="ticketOption">
<label for="fourthTicketOption">
    <h3>Entree museum + Rembrandt tour</h3>
    <p>Dagelijks van 9 tot 17 uur</p>
</label>
</fieldset>

<section>
<h3>Tijdstip</h3>
<select>
    <option>9:00</option>
    <option>10:00</option>
    <option>11:00</option>
    <option>12:00</option>
    <option>13:00</option>
    <option>14:00</option>
</select>
</section>
</main>

<nav id="bottomnav">
    <a href="/" class="button"> Volgende</a>
  </nav>

<%- include('partials/footer') %>