<%- include('partials/head') %>



<main>
    <h1>Zou je nog wat willen toevoegen aan je ticket?</h1>

    <article>
        <p>
           Koffie ofzo?
        </p>
    </article>

    <a href="/" class="button"> Home</a>
</main>


<%- include('partials/footer') %>