<%- include('partials/head') %>

<<<<<<< HEAD
<div class="banner">
    <h1>Zou je nog wat willen toevoegen aan je ticket?</h1>
</div>
<main>
    <article>
        <p>
            Koffie ofzo?
        </p>
    </article>
    <a href="/" class="button"> Home</a>
=======


<main>
    <h1>Welke dag is je bezoek?</h1>
    <section class="dates">
        <article class="date">
            <h2>25</h2>
            <div class="dateContent">
                <label for="regulieren">Regulieren toegang</label>
            <input type="checkbox" name="regulieren" value="regulieren toegang">
        </label>
            </div>
        </article>
        <article>
            <h2>26</h2>
            <div class="dateContent">
                <p>
                    <b>Omschrijving:</b> Kies deze optie alleen als je in het bezit bent van een museumkaart
                </p>
            </div>
        </article>
        <article>
            <h2>27</h2>
            <div class="dateContent">
                <p>
                    <b>Omschrijving:</b> Entree voor CJP pas houders
                </p>
            </div>
        </article>
    </section>
    <a href="/" class="button"> Bevestig</a>
>>>>>>> 676bdac87f78c10dc1a89c9051c3fa67314cbe04
</main>


<%- include('partials/footer') %>