<%- include('partials/head') %>

<div class="banner">
    <h1>Zou je nog wat willen toevoegen aan je ticket?</h1>
</div>
<main>
    <article>
        <p>
            Koffie ofzo?
        </p>
    </article>
    <a href="/" class="button"> Home</a>
</main>


<%- include('partials/footer') %>