<%- include('partials/head') %>



<main>
    <h1>Welke dag is je bezoek?</h1>
    <section class="dates">
        <article class="date">
            <h2>25</h2>
            <div class="dateContent">
                <label for="regulieren">Regulieren toegang</label>
            <input type="checkbox" name="regulieren" value="regulieren toegang">
        </label>
            </div>
        </article>
        <article>
            <h2>26</h2>
            <div class="dateContent">
                <p>
                    <b>Omschrijving:</b> Kies deze optie alleen als je in het bezit bent van een museumkaart
                </p>
            </div>
        </article>
        <article>
            <h2>27</h2>
            <div class="dateContent">
                <p>
                    <b>Omschrijving:</b> Entree voor CJP pas houders
                </p>
            </div>
        </article>
    </section>
    <a href="/" class="button"> Bevestig</a>
</main>


<%- include('partials/footer') %>