<%- include('partials/head') %>

<div class="banner">
    <h1>Persoonsgegevens</h1>
</div>

<nav id="breadcrumbs">
    <a href="/">home</a>
    <span>> </span>
    <a href="/ticketkeuze">tickets</a>
    <span>> </span>
    <a href="/ticketkeuze">tours</a>
    <span>> </span>
    <a href="/ticketkeuze">datum/tijd</a>
    <span>> </span>
    <a href="/ticketkeuze">gegevens</a>
</nav>


<main>
    <article>
        <h3>
            Vul hier je persoonsgegevens in
        </h3>
        <form action="/" id="gegevens">
            <label>Naam</label>
            <input type="text" id="fname" class="nameInput" name="fname" placeholder="Voornaam">
            <input type="text" id="tussen" class="nameInput" name="tussen" placeholder="tussenvoegsel">
            <input type="text" id="lname" class="nameInput" name="lname" placeholder="Achternaam"><br>
            <label for="email">E-mailadres:</label>
            <input type="email" id="email" name="email"><br>
            <input type="checkbox" id="agreement" name="agreement">
            <label for="agreement">Ik ga akkoord met de algemene voorwaarden en de regels voor veilig bezoek en verklaar dat ik en mijn huisgenoten geen gezondheidsklachten hebben (neusverkoudheid, loopneus, keelpijn, lichte hoest, verhoging, koorts (boven 38 graden Celsius) en/of benauwdheid). *</label>

            <!-- <input type="submit" class="button" value="Submit"> -->

          </form> 
    </article>
</main>

<%- include('partials/bottomnav') %>


<%- include('partials/footer') %>