<%- include('partials/head') %>

<div class="banner">
    <h1>Homepagina</h1>
</div>
<main>
    <article>
        <p>
            Welkom bij het Rijksmuseum.
            Hieronder kun je naar de pagina om online je tickets bestellen.
        </p>
    </article>
    <a href="/tickets" class="button"> Bestel hier je tickets</a>
</main>


<%- include('partials/footer') %>