<%- include('partials/head') %>

<div class="banner">
    <h1>Homepagina</h1>
</div>
<main>
    <article>
        <p>
            Welkom bij het Rijksmuseum.
            Hieronder kun je naar de pagina om online je tickets bestellen.
        </p>
    </article>
    <a href="/ticketkeuze" class="button"> Bestel hier je tickets</a>

    <article class="homeItem">
        <img src="../images/rembrandt.jpg" alt="rembrandt tour" class="homeItemImage">
        <p>Rembrandt van Rijn (1606-1669) werd als molenaarszoon geboren in Leiden. Na de Latijnse school schreven zijn ouders hem in 1620 in aan de universiteit...</p>
        <a href="/rembrandt" class="button">Lees meer</a>
    </article>
</main>


<%- include('partials/footer') %>