<%- include('partials/head') %>


<<<<<<< HEAD
<h1>Rijksmuseum</h1>
=======
>>>>>>> 0ea1bafa3d362d91e3611e03c7fe6ce51298a718
<main>


<a href="/tickets"> Bestel hier je tickets</a>
</main>


<%- include('partials/footer') %>