<%- include('partials/head') %>

<div class="banner">
    <h1 tabindex="0">Homepagina</h1>
</div>
<main class="home">
    <section class="section1">
        <article>
            <h2> Welkom bij het Rijksmuseum. </h2>
            <p>Hieronder kun je naar de pagina om online je tickets bestellen.</p>

        </article>
        <a href="/ticketkeuze" class="button"> Bestel hier je tickets</a>
    </section>
    <section class="section2">
        <h2>Beschikbare tours en exposities</h2>
        <div class="homeTours">
            <article class="homeItem">
                <img src="../images/rembrandt.jpg" alt="rembrandt tour" class="homeItemImage">
                <h3>Rembrandt van Rijn tour</h3>
                <p>Rembrandt van Rijn (1606-1669) werd als molenaarszoon geboren in Leiden. In deze tour leer je over
                    alle belangrijke werken van de beroemde schilder.</p>
                <a href="/rembrandt" class="button">bekijk tour</a>
            </article>
            <article class="homeItem">
                <img src="../images/3.jpg" alt="rembrandt tour" class="homeItemImage">
                <h3>Groepstour</h3>
                <p>Tour maken met je vrienden of famillie? Het kan al vanaf 4 personen!</p>
                <a href="/rembrandt" class="button">bekijk tour</a>
            </article>
            <article class="homeItem">
                <img src="../images/2.jpg" alt="rembrandt tour" class="homeItemImage">
                <h3>Privé tour</h3>
                <p>Liever alleen met je vrienden of famillie een tour door het rijksmuseum? Boek nu een privé tour!</p>
                <a href="/rembrandt" class="button">bekijk tour</a>
            </article>
        </div>
    </section>
</main>
<script>
    localStorage.clear();
</script>


<%- include('partials/footer') %>