<%- include('partials/head') %>
<h1>Welk maand schema wil je weten?</h1>

<div class="form-container">
  <form action="maandactiviteit" method="POST">

    <select id="maand" name="maand">
      <option value="Januari">Januari</option>
      <option value="februari">februari</option>
      <option value="maart">maart</option>
      <option value="april">april</option>
      <option value="mei">mei</option>
      <option value="juni">juni</option>
      <option value="juli">juli</option>
      <option value="augustus">augustus</option>
      <option value="september">september</option>
      <option value="oktober">oktober</option>
      <option value="november">november</option>
      <option value="december">december</option>
    </select>
    <input type="submit" class="button" value="Bekijk maand">
</div>
</form>

<%- include('partials/footer') %>