<%- include('partials/head') %>

<div class="banner">
    <h1 tabindex="0">Overzicht bestelling</h1>
</div>
<main class="overzicht">
    <section class="section1">
            <h2> Jouw bestelling:</h2>
            <ul tabindex="0">
                <li>Aantal tickets: <span id="spanAmount"> </span> </li>
                <li>Soort tickets: <span id="spanType"></span> </li>
                <li>Datum: <span id="spanDatum">21-6-2020</span> </li>
                <li>Tijd: <span id="spanTijd">10:15</span> </li>
                <li>Naam: <span id="spanName"></span> </li>
                <li>Email: <span id="spanEmail"></span> </li>
                <li>Donatie: <span id="spanDonatie"></span> </li>
                <li>Multimediatour: <span id="spanTour"></span> </li>
                <li>Familiespel: <span id="spanFamilie"></span> </li>
                <li>Totaal bedrag: <span id="total"></span> </li>
            </ul>
    </section>
    <section class="section2">
        <a href="/" class="button"> Bevestig en betaal</a>
    </section>
</main>

<script src="/js/overzicht.js"></script>

<%- include('partials/footer') %>