
<%- include('partials/head') %>

<div class="rembrandtbanner">
    <h1>Homepagina</h1>
</div>
<main class="home">
    <section class="section1">
        <article>
            <p>
                Rembrandt van Rijn (1606-1669) werd als molenaarszoon geboren in Leiden. Na de Latijnse school schreven zijn ouders hem in 1620 in aan de universiteit. Rembrandt haakte al snel af. Hij werd schildersleerling bij Jacob van Swanenburch in Leiden en daarna bij Pieter Lastman in Amsterdam. Terug in Leiden vestigde hij zich, met Jan Lievens, als zelfstandig schilder. In die tijd schilderde Rembrandt veel bijbeltaferelen in een precieze stijl met bonte kleuren. 
            </p>
        </article>
        <a href="/ticketkeuze_rembrandt" class="button"> Bestel hier je tickets</a>
    </section>
</main>


<%- include('partials/footer') %>