<%- include('partials/head') %>

<div class="banner">
    <h1>Beschikbare tickets</h1>
</div>
<main>
    <h3 id="selectedDay"><%= selectedDay %></h3>
    <form action="/test" id="flexDateForm" method="post">
        <input id="flexDateField" type="text" name="flexDateField">
        <input id="flexDateSubmit" type="submit">
    </form>
</main>


<script src="/js/test.js"></script>
<%- include('partials/bottomNav') %>
<%- include('partials/footer') %>