<%- include('partials/head') %>

<div class="banner">
    <h1>Beschikbare tickets</h1>
</div>
<main>
    <h3 id="selectedDay"></h3>
    <form action=" " id="flexDateForm">
        <input id="flexDateField" type="text">
        <input id="flexDateSubmit" type="submit">
    </form>
</main>

<nav id="bottomnav">
    <a href="/tours" class="button"> Volgende</a>
</nav>

<script src="/js/test.js"></script>

<%- include('partials/footer') %>