<%- include('partials/head') %>

<div class="banner">
    <h1>Gekozen datum</h1>
</div>
<main>
    <article>
        <p>
            <%= chosen %>
        </p>
    </article>
    <a href="/ticketkeuze" class="button"> Bestel hier je tickets</a>
</main>


<%- include('partials/footer') %>