<%- include('partials/head') %>

<div class="banner">
    <h1>Moment js test page</h1>
</div>
<main>
    <article>
        <p>
            <form method="POST" action="/testdate2">
                <label for="momentdate">Kies een dag</label>
                <input type="momentdate" id="momentdate" name="momentdate"><br><br>
                <input type="submit" value="Submit">
              </form> 
        </p>
    </article>
    <a href="/testdate2" class="button"> Zie resultaat</a>
</main>


<%- include('partials/footer') %>