<%- include('partials/head') %>


    <div class="banner">
      <h1>Bestel je tickets</h1>
    </div>
    <main>
    <article>
    
            <h2>Hoe oud ben je?</h2>
            <form action="/ticketkeuze" method="POST">
                  <input type="number" id="age" name="age" min="15" max="115" value="30">
                <input type="submit" class="button" value="Bevestig leeftijd">
            </div>
            </form>
        
        </article>
</main>
<%- include('partials/footer') %>