<%- include('partials/head') %>

<div class="banner">
    <h1>Beschikbare tickets</h1>
</div>
<main>
    <article>
        <p>
            Kies uw tickets
        </p>
    </article>
    <section class="tickets">
        <a href="#" tabindex="0" id="standardTickets" class="headerActive header">
            <h2>Standaard tickets</h2>
        </a>
        <a href="#" tabindex="0" id="discountTickets" class="header">
            <h2>Pashouders / kortingen</h2>
        </a>
        <article class="ticketContent active" id="content1">
            <p> Entree volwassene <span> 19,-</span>
 
            </p>
            <p> Entree t/m 18 jaar <span> Gratis</span>
                <button id="prev" onclick="selectPrev()">+</button>
                <select id="drop">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6+</option>
                </select>
                <button id="next" onclick="selectNext()">+</button>
            </p>

        </article>
        <article class="ticketContent" id="content2">
            <p> Entree CJP pas <span> 9,50,-</span>
                <button>-</button>
                <select>
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6+</option>
                </select>
                <button>+</button>
            </p>
            <p> Entree BankGiro Loterij VIP-kaart <span> Gratis</span>
                <button>-</button>
                <select>
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6+</option>
                </select>
                <button>+</button>
            </p>
            <p> Entree Museumkaart <span> Gratis</span>
                <button>-</button>
                <select>
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6+</option>
                </select>
                <button>+</button>
            </p>
            <p> Ander geldig toegangsbewijs <span> Gratis</span>
                <button>-</button>
                <select>
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6+</option>
                </select>
                <button>+</button>
            </p>
        </article>
    </section>


    </section>


</main>

<nav id="bottomnav">
    <a href="/tours" class="button"> Volgende</a>
</nav>

<script src="/js/ticket.js"></script>

<%- include('partials/footer') %>