<%- include('partials/head') %>



<main>
    <h1>Beschikbare tickets</h1>

    <article>
        <p>
            Voor de leeftijd van <%= age %> jaar zijn deze tickets beschikbaar:
        </p>
    </article>
    <section class="tickets">
        <article>
            <div class="ticketImage"></div>
            <h2>Entree volwassene</h2>
            <div class="ticketContent">
                <p>
                    <b>Omschrijving:</b> Basis entree tot het rijksmuseum.
                </p>
                <p> Prijs: 19.00 euro.</p>
                <p></p:><a href="/datum" class="button"> Kies dit ticket</a></p>
            </div>
        </article>

        <article>
            <div class="ticketImage"></div>
            <h2>Entree Museumkaart</h2>
            <div class="ticketContent">
                <p>
                    <b>Omschrijving:</b> Kies deze optie alleen als je in het bezit bent van een museumkaart
                </p>
                <p> Prijs: 0.00 euro.</p>
                <p></p:><a href="/datum" class="button"> Kies dit ticket</a></p>
            </div>
        </article>

        <article>
            <div class="ticketImage"></div>
            <h2>Entree CJP pas</h2>
            <div class="ticketContent">
                <p>
                    <b>Omschrijving:</b> Entree voor CJP pas houders
                </p>
                <p> Prijs: 9.50 euro.</p>

                <p></p:><a href="/datum" class="button"> Kies dit ticket</a></p>
            </div>
        </article>

    </section>

</main>


<%- include('partials/footer') %>