<%- include('partials/head') %>

<div class="banner">
    <h1 tabindex="0">Beschikbare tickets</h1>
</div>


<main>
    <section class="section1">
                    <h2 id="selectedDay" autofocus>Je geselecteerde datum is: <span id="pickedDate"><%= selectedDay %></span></h2>
                   <p> Als je deze datum wilt wijzigen klik dan hier: <br><br><a href="/datum" class="button">Datum wijzigen</a></p>
            
    </section>
    <section class="section2">
        <form id="timeForm" class="">

            <h2>Hoelaat wil je je bezoek plannen?

            </h2>
            <input type="radio" name="period" id="ochtend" class="periodSelect">
            <label for="ochtend">In de ochtend</label>

            <input type="radio" name="period" id="middag" class="periodSelect">
            <label for="middag">In de middag</label>
            <div id="morningSelect" class="hidden">
                <h3>Kies uit een van de volgende beschikbare tijden</h3>
                <select id="ochtendTime">
                    <option value="09:00">09:00</option>
                    <option value="09:30">09:30</option>
                    <option value="10:00">10:00</option>
                    <option value="10:30">10:30</option>
                    <option value="11:00">11:00</option>
                    <option value="11:30">11:30</option>
                </select>
            </div>
            <div id="afternoonSelect" class="hidden">
                <h3>Kies uit een van de volgende beschikbare tijden</h3>
                <select id="middagTime">
                    <option value="12:00">12:00</option>
                    <option value="12:30">12:30</option>
                    <option value="13:00">13:00</option>
                    <option value="13:30">13:30</option>
                    <option value="14:00">14:00</option>
                    <option value="14:30">14:30</option>
                    <option value="15:00">15:00</option>
                </select>
            </div>
        </form>
    </section>
</main>

<!-- <script src="js/ticket2.js"> </script> -->
<script src="/js/time.js"></script>
<script src="/js/datePicker.js"></script>
<%- include('partials/bottomNav') %>
<nav id="breadCrumbs">
    <a href="/">home</a>
    <span>> </span>
    <a href="/ticketkeuze">tickets</a>
    <span>> </span>
    <a href="/tours">tours</a>
    <span>> </span>
    <a href="/datum">datum/tijd</a>
</nav>
<%- include('partials/footer') %>