<%- include('partials/head') %>

<div class="banner">
    <h1 tabindex="0">Wat voor soort ticket wil je?</h1>
</div>

<main class="tours">
    <section class="section1">
    <form action="/datum" class="selectTour" id="ticketForm">
        <input type="radio" id="entrance" name="typeOfTicket" value="Slecht entree" checked>
        <label role="button"   for="entrance" tabindex="0" id="entranceLabel" aria-label="Slechts entree tot het Rijksmuseum" >
            <img aria-hidden="true" src="/images/1.jpg" alt="Enkel entree" >
            <h2>Enkel entree</h2>
            <div class="content">
                
                <p><b>Omschrijving:</b><br> Slechts entree tot het museum</p>
            </div>
            </div>

        </label>
        <input type="radio" id="tour1" name="typeOfTicket" value="Groepstour">
        <label role="button"   for="tour1" tabindex="0" id="tour1Label" aria-label="Entree inclusief een groepstour. Extra kosten zijn 10 euro per persoon">
            <img aria-hidden="true" src="/images/2.jpg" alt="Groepstour">
            <div class="content">
                <h2>Groepstour</h2>
                
                <p><b>Omschrijving:</b><br> Entree tot museum inclusief een groepstour<br><br>10 euro p.p extra</p>
            </div>
        </label>
        <input type="radio" id="tour2" name="typeOfTicket" value="Privé tour">
        <label role="button" for="tour2" tabindex="0" id="tour2Label"  aria-label="Entree inclusief een privétour. Extra kosten zijn 50 euro per persoon">
            <img aria-hidden="true" src="/images/3.jpg" alt="Privé tour">
            <div class="content">
                <h2>Privé tour</h2>
                
                <p><b>Omschrijving:</b><br> Entree tot museum inclusief een privé tour<br><br>50 euro p.p extra</p>
            </div>
        </label>
    </form>
</section>
</main>
<script src="/js/tours.js"></script>
<%- include('partials/bottomNav') %>
    <nav id="breadCrumbs">
        <a href="/">home</a>
        <span>> </span>
        <a href="/ticketkeuze">tickets</a>
        <span>> </span>
        <a href="/ticketkeuze">tours</a>
    </nav>
<%- include('partials/footer') %>
