<%- include('partials/head') %>

<div class="banner">
    <h1>Wil je een tour of expositie boeken?</h1>
</div>
<main class="centered">
    <article>
        <p> <a class="button" href="datum">Nee</a> </p>
        <p> <a class="button" href="datum">Groepstour</a> </p>
        <p> <a class="button" href="datum">Privé tour</a> </p>
        <p> <a class="button" href="datum">Expositie 1</a> </p>
        <p> <a class="button" href="datum">Expositie 2</a> </p>
        <p> <a class="button" href="datum">Expositie 3</a> </p>
    </article>
</main>

<%- include('partials/footer') %>