.dates {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    margin-bottom: 3em;
}

.dates article {
    margin: 0 2em;
    position: relative;
    background-color: var(--main-dark-grey);
    padding: 1em;
}

.dates h2 {
    top: 0;
    color: var(--main-white);
    margin: 0;
    padding: .4em;
    font-weight: 400;
}

.dates p {
    font-size: 1.2em;
}

.dates .button {
    font-size: 1em;
    padding: .5em 1em;
    width: 100%;
}

.dateContent{
    padding: 0 1em;
}

.dates ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.dates li {
    display: block;
    padding: 0;
    margin: .2em;
}