.extras {
    display: flex;
    border: none;
    margin-bottom: 10em;
}

.extras input[type="radio"] {
    opacity: 0;
}

.extras input[type="radio"]:checked+label {
    background: var(--orange-red);
    color: var(--main-black)
  }

  .extras label {
      width: 50%;
      background: var(--main-white);
      color: black;
      padding: 1em;
  }

  .extras label h3 {
      color: var(--main-black);
  }
