form .button {
    display: block;
    margin: 1em 0;
}

label{
    color: var(--main-white);
  }

#age {
    font-size: 10em;
    width: 3em;
    color: var(--succes);
    background-color: var(--main-dark-grey);
    margin: 30px 0;
    border: 2px solid var(--main-white);
}

input[type="number"]:focus, input[type="number"]:hover{
    border: 2px solid var(--succes);
}

input[type="number"] {
    display: block;
}

#year {
    background-color: var(--main-white);
    color: var(--main-black);
    border: none;
    padding: .4em;
}

select {
    font-size: 6em;
    width: 4em;
    color: var(--succes);
    background-color: var(--main-dark-grey);
    margin: 30px 0;
}

#ageLabel {
    display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
ul {
    color: white;
    list-style: none;
}

li{
    display: inline;
    padding: 1em;
}