/* #gegevens input {
    display: block;
} */

#gegevens label {
    display: block;
}

#gegevens .nameInput {
    display: inline;
}

/* #agreement{
    display: block;
} */

#gegevens [for=agreement]{
    display: inline;
}

input {
    margin-bottom: 1.5em;
}

[name=tussen]{
    width: 7em;
}

.gegevens input{
    padding: 1em;
    border: 2px solid var(--main-black);
}

#agreement:focus{
    outline: 2px solid var(--succes);
}

.gegevens input:focus{
    border-color: var(--succes);
}