nav {
  display: flex;
  align-items: center;
  padding: .5em;
  position: absolute;
  top: 0;
}
  
  nav ul {
    display: flex;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
}
  
  nav li {
    list-style: none;
    padding: .3em;
  }
  
  nav a {
    color: var(--main-white);
    text-decoration: none;
}

#bottomnav {
  bottom: 0;
  top: unset;
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
  background-color: var(--main-white);
  padding: .5em;
  align-items: flex-end;
  position: fixed;
}

.skip-to-content-link {
  background: #e77e23;
  height: 30px;
  left: 50%;
  padding: 8px;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
}

.skip-to-content-link:focus {
  transform: translateY(0%);
}

#breadCrumbs {
  display: block;
  position: fixed;
  bottom: 8px;
  top: unset;
  z-index: 1;
}

#breadCrumbs a{
  color: var(--main-black);
}