:root {
    --main-black: #000000;
    --main-white: #FFFFFF;
    --main-dark-grey: #202327;
    --wilmotte-blue: #40474F;
    --light-grey: #EAEAEA;

    --orange-red: #D9531E;
    --red-brown: #AC8367;
    --grey-brown: #918763;
    --business-blue: #4060AF;

    --succes: #8BC400;
    --error: #E52526;
  }
body{
  font-family: 'Oswald', sans-serif;
  }

  h1 {
    color: var(--business-blue);
  }

