:root {
    --main-black: #000000;
    --main-white: #FFFFFF;
    --main-dark-grey: #202327;
    --wilmotte-blue: #40474F;
    --light-grey: #EAEAEA;

    --orange-red: #D9531E;
    --red-brown: #AC8367;
    --grey-brown: #918763;
    --business-blue: #4060AF;

    --succes: #8BC400;
    --error: #E52526;
  }

  body {
    font-family: Oswald,sans-serif;
    background-color: var(--light-grey);
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

  h1, h2 {
    color: var(--main-black);
    font-size: 2em;
  }
  .section1, .section2 {
    padding: 4em 5em;
    color: var(--main-black);
}

.home .section2 .homeTours{
  display: flex;
  justify-content: space-evenly;
}
.section1{
  background-color: var(--main-white);

}
.section2{
  background-color: var(--light-grey);
}


article{
  width: 100%;
}

article p{
  font-weight: 300;
  font-size: 1.2em;
  margin: 2em 0;
}

.button {
  padding: .2em .5em;
  font-size: 1.2em;
  text-decoration: none;
  color: var(--main-white);
  background-color: var(--business-blue);
  border-bottom: 2px solid var(--main-white);
  box-shadow: 0 7px 37px -3px rgba(0,0,0,.38);
  border-left: 2px solid var(--main-white);
}


#logo{
  border: 2px solid var(--main-white);
  padding: .5em;
  margin: 0;
}

.banner {
  width: 100%;
  background-size: cover;
  background-image: -webkit-linear-gradient(top,rgba(0,0,0,.6),rgba(0,0,0,.6)),url(../../../../images/banner.jpg);
  height: 15em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tours {
  margin-top: 5em;
}

#tours h2{
  text-align: center;
}

.rembrandtbanner {
  width: 100%;
  background-size: cover;
  background-image: -webkit-linear-gradient(top,rgba(0,0,0,.6),rgba(0,0,0,.6)),url(../../../../images/rembrandt.jpg);
  height: 15em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeItem {
  background-color: #fff;
  padding: .5em;
  margin: 0 1em;
  width: calc(33.3333% - 2em);
  padding-bottom: 4em;
  position:  relative;
}

.homeItemImage {
  width: 100%;
  height: 10em;
  object-fit: cover;
}

.homeItem h3 {
  color: black;
}

.homeItem a {
  position: absolute;
  bottom: 1em;
}

.homeItem p {
  color: black;
  margin: .2em;
}

.banner h1{
  margin: 0;
  color: var(--main-white);
}

.centered{
  display: flex;
  justify-content: center;
}

.section1 li{
  color: var(--main-black);
}

