:root {
    --main-black: #000000;
    --main-white: #FFFFFF;
    --main-dark-grey: #202327;
    --wilmotte-blue: #40474F;
    --light-grey: #EAEAEA;

    --orange-red: #D9531E;
    --red-brown: #AC8367;
    --grey-brown: #918763;
    --business-blue: #4060AF;

    --succes: #8BC400;
    --error: #E52526;
  }
  body{
    font-family: 'Oswald', sans-serif;
    background-color: var(--main-dark-grey);
    margin: 0;
    padding: 0;
    background-size: cover;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/nachtwacht.jpg"");
  }

  h1 {
    color: var(--orange-red);
  }
  main {
    padding: 0 10em;
}

article{
  width: 50%;
  margin-bottom: 50px;
}
article p{
  color: var(--main-white);
  font-weight: 300;
  font-size: 2em;
}

.button{
  padding: .7em 1.5em;
  font-size: 1.2em;
  text-decoration: none;
  color: var(--main-white);
  background-color: var(--wilmotte-blue);
  border: 2px solid var(--orange-red);
  box-shadow: 0px 7px 37px -3px rgba(0,0,0,0.38);
}

.button:hover, .button:focus{
  border-color: var(--succes)
}