.tickets {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10em;
}

.ticketContent{
    display: none;
    height: 0;
    background-color: var(--main-white);
    border-top: 2px solid #000;
}

.tickets p {
    color: var(--main-black);
    padding: .5em;
    margin: 0;
    border-top: 2px solid #000;
}

.header{
    background-color: #ECECEC;
}
.header h2{
    color: #666
}
.tickets .headerActive, .tickets .header:focus{
    background-color: var(--orange-red);
}

.headerActive h2{
    color: var(--main-black);
}

.tickets span{
    font-weight: 600;
}

.tickets .active{
    display: block;
    height: unset;
}

.tickets .ticketContent{
    width: 100%;
}

.tickets #standardTickets, .tickets #discountTickets{
  width: 50%;
  text-align: center;
  box-sizing: border-box;
}

.tickets a {
    text-decoration: navajowhite;
}