.tickets {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10em;
}

.ticketContent{
    display: none;
    height: 0;
    background-color: var(--main-white);
    border-top: 2px solid #000;
}

.tickets p {
    color: var(--main-black);
    padding: .5em;
    margin: 0;
    border-top: 2px solid #000;
}

.header{
    background-color: #ECECEC;
}
.header h2{
        color: var(--main-black);
}
.tickets .headerActive, .tickets .header:focus{
    background-color: var(--orange-red);
}

.headerActive h2 {
    color: var(--main-white);
}

.tickets span{
    font-weight: 600;
}

.tickets .active{
    display: block;
    height: unset;
}

.tickets .ticketContent{
    width: 100%;
}

.tickets #standardTickets, .tickets #discountTickets{
  width: 50%;
  text-align: center;
  box-sizing: border-box;
}

.tickets a {
    text-decoration: navajowhite;
}

.tours article {
    width: calc(33% - 2em);
    background-color: var(--main-white);
    margin: 1em;
    border-radius: 10px;
}

.tours article h2{
    color: var(--business-blue);
    margin-bottom: 0;
} 
.tours article p{
    color: var(--main-black);
}

.tours article p{
    margin-top: 0;
}

.tours {
    flex-wrap: wrap;
    width: 70%;
    margin: 2em auto;
}

.tours img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}



.tours .content {
    padding: 1em;
    padding-top: 0;
    text-align: center;
}

.tours label {
    color: var(--main-black);
}

.tours hr {
    width: 20%;
    border: 2px solid var(--business-blue);
}

#ticketsAmount{
    text-align: center;
    color: var(--main-white);
    font-size: 1.7em;
}